<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <%- include('header') %>
        <div class="overlay" style="background-color: #9bc79a">
            <div id="pageintro" class="hoc clear">
                <!-- ################################################################################################ -->
                <article>
                    <h3 class="heading">WelCome to Gia Cat TS</h3>
                    <p>A massa etiam augue nunc lectus duis eget libero non
                        nisi lobortis suscipit praesent viverra nam dapibus
                        orci non erat aliquam erat volutpat.</p>
                    <footer><a class="btn" href="#">Gravida sem neque</a></footer>
                </article>
                <!-- ################################################################################################ -->
            </div>

        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

    </body>
</html>